{
  "expo": {
    "name": "{{DISPLAY}}",
    "slug": "{{CODENAME}}",
    "version": "0.1.0",
    "orientation": "portrait",
    "scheme": "{{CODENAME}}",
    "userInterfaceStyle": "automatic",
    "newArchEnabled": true,
    "ios": {
      "bundleIdentifier": "{{BUNDLE_PREFIX}}.mobile",
      "supportsTablet": false
    },
    "android": {
      "package": "{{BUNDLE_PREFIX}}.mobile"
    }
  }
}
